/*!
 * WebSharks™ Core Resets; copyright: © 2012 (coded in the USA)
 * GPL license <https://github.com/websharks/core>
 */
/**
 * WebSharks™ Core Resets
 *
 * Copyright: © 2012 (coded in the USA)
 * {@link http://www.websharks-inc.com WebSharks™}
 *
 * @author JasWSInc
 * @package WebSharks\Core
 * @since 120318
 */

/* Basics & Inheritance
<https://developer.mozilla.org/en-US/docs/Web/CSS/inherit> */
/* noinspection ALL */

.wsc,
.wsc *
{
	margin              : 0;
	padding             : 0;
	outline             : 0;

	background          : none;
	opacity             : inherit;
	color               : inherit;
	font-size           : inherit;
	line-height         : inherit;
	font-family         : inherit;
	text-indent         : inherit;
	direction           : inherit;
	text-align          : inherit;
	text-justify        : inherit;
	text-shadow         : inherit;
	text-outline        : inherit;
	text-decoration     : inherit;
	text-overflow       : inherit;
	text-transform      : inherit;
	font-variant        : inherit;
	text-wrap           : inherit;
	word-wrap           : inherit;
	word-break          : inherit;
	word-spacing        : inherit;
	white-space         : inherit;
	letter-spacing      : inherit;

	clip                : auto;
	float               : none;
	clear               : none;

	width               : auto;
	height              : auto;
	min-width           : 0;
	min-height          : 0;
	max-width           : none;
	max-height          : none;
	overflow            : visible;

	list-style          : none;

	border              : 0;
	border-spacing      : 0;
	box-sizing          : content-box;
	border-collapse     : collapse;
	table-layout        : auto;

	vertical-align      : baseline;

	z-index             : auto;
	top                 : auto;
	right               : auto;
	bottom              : auto;
	left                : auto;
	position            : static;

	box-shadow          : none;
	appearance          : normal;
	visibility          : visible;
	backface-visibility : visible;
}

/* Parent Styles from which to Inherit */

.wsc
{
	cursor          : auto;

	opacity         : 1;
	color           : #000000;
	font-size       : 14px;
	line-height     : 1;
	font-family     : sans-serif;
	text-indent     : 0;
	direction       : ltr;
	text-align      : left;
	text-justify    : auto;
	text-shadow     : none;
	text-outline    : none;
	text-decoration : none;
	text-overflow   : clip;
	text-transform  : none;
	font-variant    : normal;
	text-wrap       : normal;
	word-wrap       : normal;
	word-break      : normal;
	white-space     : normal;
	word-spacing    : normal;
	letter-spacing  : normal;
}

/* Block & Inline Elements
<https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements> */

.wsc address,
.wsc article,
.wsc aside,
.wsc audio,
.wsc blockquote,
.wsc canvas,
.wsc dd,
.wsc div,
.wsc dl,
.wsc fieldset,
.wsc figcaption,
.wsc figure,
.wsc footer,
.wsc form,
.wsc h1,
.wsc h2,
.wsc h3,
.wsc h4,
.wsc h5,
.wsc h6,
.wsc header,
.wsc hgroup,
.wsc hr,
.wsc noscript,
.wsc ol,
.wsc output,
.wsc p,
.wsc pre,
.wsc section,
.wsc table,
.wsc tfoot,
.wsc ul,
.wsc video
{
	display : block;
}
.wsc b,
.wsc big,
.wsc i,
.wsc small,
.wsc tt,
.wsc abbr,
.wsc acronym,
.wsc cite,
.wsc code,
.wsc dfn,
.wsc em,
.wsc kbd,
.wsc strong,
.wsc samp,
.wsc var,
.wsc a,
.wsc bdo,
.wsc br,
.wsc img,
.wsc map,
.wsc object,
.wsc q,
.wsc script,
.wsc span,
.wsc sub,
.wsc sup,
.wsc button,
.wsc input,
.wsc label,
.wsc select,
.wsc textarea
{
	display : inline;
}

/* Preformatted Tags */

.wsc pre,
.wsc select
{
	white-space : pre;
}

/* Monospace Tags */

.wsc tt, code
{
	font-family : monospace;
}

/* Quotes */

.wsc q,
.wsc blockquote
{
	quotes : none;
}
.wsc q:before,
.wsc q:after,
.wsc blockquote:before,
.wsc blockquote:after
{
	content : '';
	content : none;
}

/* Images */

.wsc img
{
	vertical-align : bottom;
}