/*!
 * WebSharks™ Core Utilities; copyright: © 2012 (coded in the USA)
 * GPL license <https://github.com/websharks/core>
 */
/**
 * WebSharks™ Core Utility Styles
 *
 * Copyright: © 2012 (coded in the USA)
 * {@link http://www.websharks-inc.com WebSharks™}
 *
 * @author JasWSInc
 * @package WebSharks\Core
 * @since 120318
 */

/*
Responsive inline helpers.
*/
@media (max-width : 767px)
{
	.wsc .i-hidden-xs
	{
		display : none !important;
	}
}
@media (min-width : 768px) and (max-width : 991px)
{
	.wsc .i-hidden-sm
	{
		display : none !important;
	}
}
@media (min-width : 992px) and (max-width : 1199px)
{
	.wsc .i-hidden-md
	{
		display : none !important;
	}
}
@media (min-width : 1200px)
{
	.wsc .i-hidden-lg
	{
		display : none !important;
	}
}

/*
Border utility classes.
*/
.wsc .no-border
{
	border : 0 !important;
}
.wsc .dotted-border
{
	border-style : dotted !important;
}
.wsc .dashed-border
{
	border-style : dashed !important;
}
.wsc .border-radius
{
	border-radius : 4px !important;
}
.wsc .border-radius-circular
{
	border-radius : 50% !important;
}

/*
Shadow utility classes.
*/
.wsc .box-shadow
{
	box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.5) !important;
}
.wsc .perspective-box-shadow
{
	box-shadow : 0 6px 2px -4px rgba(0, 0, 0, 0.7) !important;
}
.wsc .perspective-box-shadows
{
	box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.5), 0 6px 2px -4px rgba(0, 0, 0, 0.7) !important;
}
.wsc .text-shadow
{
	text-shadow : 0 1px 1px rgba(0, 0, 0, 0.5) !important;
}

/*
Text utility classes.
*/
.wsc .text-wrap
{
	white-space : normal !important;
	word-wrap   : normal !important;
	word-break  : normal !important;
}
.wsc .text-no-wrap
{
	white-space : pre !important;
	word-wrap   : normal !important;
	word-break  : normal !important;
}
.wsc .text-ellipsis
{
	overflow      : hidden !important;
	white-space   : nowrap !important;
	text-overflow : ellipsis !important;
}
.wsc .no-text-decor
{
	text-decoration : none !important;
}
.wsc .dotted-text-decor
{
	text-decoration : none !important;
	border-bottom   : dotted 1px !important;
}
.wsc .text-upper
{
	text-transform : uppercase !important;
}
.wsc .text-lower
{
	text-transform : lowercase !important;
}
.wsc .text-small-caps
{
	font-variant : small-caps !important;
}

/*
Alignment utility classes.
*/
.wsc .center
{
	display      : block !important;
	margin-left  : auto !important;
	margin-right : auto !important;
}
.wsc .va-middle
{
	vertical-align : middle !important;
}

/*
Position utility classes.
*/
.wsc .pos-absolute
{
	position : absolute !important;
}
.wsc .pos-relative
{
	position : relative !important;
}
.wsc .z-index-1
{
	z-index : 1 !important;
}
.wsc .z-index-2
{
	z-index : 2 !important;
}
.wsc .z-index-top
{
	z-index : 1032 !important;
}

/*
Display utility classes.
*/
.wsc .block-display
{
	display : block !important;
}
.wsc .inline-display
{
	display : inline !important;
}
.wsc .inline-block
{
	display : inline-block !important;
}
.wsc .table-display
{
	display : table !important;
}
.wsc .no-initial-display
{
	display : none;
}

/*
Width/height utility classes.
*/
.wsc .width-100
{
	width : 100% !important;
}
.wsc .height-100
{
	height : 100% !important;
}

/*
Opacity utility classes.
*/
.wsc .transparent
{
	opacity : 0.1 !important;
}
.wsc .transparent-hover
{
	opacity : 0.1 !important;
}
.wsc .transparent-hover:hover
{
	opacity : 1.0 !important;
}
.wsc .translucent
{
	opacity : 0.5 !important;
}
.wsc .translucent-hover
{
	opacity : 0.5 !important;
}
.wsc .translucent-hover:hover
{
	opacity : 1.0 !important;
}
.wsc .opacity-fade
{
	opacity : 0.7 !important;
}
.wsc .opacity-fade-hover
{
	opacity : 0.7 !important;
}
.wsc .opacity-fade-hover:hover
{
	opacity : 1.0 !important;
}

/*
Overflow utility classes.
*/
.wsc .no-overflow
{
	max-width : 100% !important;
	overflow  : hidden !important;
}
.wsc .no-x-overflow
{
	max-width  : 100% !important;
	overflow-x : hidden !important;
}
.wsc .auto-y-overflow
{
	max-height : 100% !important;
	overflow-y : auto !important;
}

/*
Outline utility classes.
*/
.wsc .no-outline
{
	outline : none !important;
}

/*
Cursor utility classes.
*/
.wsc .cursor-pointer
{
	cursor : pointer !important;
}
.wsc .cursor-move
{
	cursor : move !important;
}

/*
Selection utility classes.
*/
.wsc .no-select
{
	-webkit-user-select : none !important;
	-moz-user-select    : none !important;
	user-select         : none !important;
}

/*
Spacer utility classes.
*/
.wsc .spacer
{
	display : inline-block !important;
	margin  : 0 10px 0 10px !important;
}

/*
Clearing utility classes.
*/
.wsc .clear
{
	clear : both !important;
}
.wsc .clear-r
{
	clear : right !important;
}
.wsc .clear-l
{
	clear : left !important;
}

/*
Font size utility classes.
*/
.wsc .font-10
{
	font-size : 10% !important;
}
.wsc .font-20
{
	font-size : 20% !important;
}
.wsc .font-30
{
	font-size : 30% !important;
}
.wsc .font-40
{
	font-size : 40% !important;
}
.wsc .font-50
{
	font-size : 50% !important;
}
.wsc .font-60
{
	font-size : 60% !important;
}
.wsc .font-70
{
	font-size : 70% !important;
}
.wsc .font-80
{
	font-size : 80% !important;
}
.wsc .font-90
{
	font-size : 90% !important;
}
.wsc .font-100
{
	font-size : 100% !important;
}
.wsc .font-110
{
	font-size : 110% !important;
}
.wsc .font-120
{
	font-size : 120% !important;
}
.wsc .font-130
{
	font-size : 130% !important;
}
.wsc .font-140
{
	font-size : 140% !important;
}
.wsc .font-150
{
	font-size : 150% !important;
}
.wsc .font-160
{
	font-size : 160% !important;
}
.wsc .font-170
{
	font-size : 170% !important;
}
.wsc .font-180
{
	font-size : 180% !important;
}
.wsc .font-190
{
	font-size : 190% !important;
}
.wsc .font-200
{
	font-size : 200% !important;
}
.wsc .font-300
{
	font-size : 300% !important;
}
.wsc .font-400
{
	font-size : 400% !important;
}
.wsc .font-500
{
	font-size : 500% !important;
}

/*
Font weight utility classes.
*/
.wsc .font-weight-lighter
{
	font-weight : lighter !important;
}
.wsc .font-weight-100
{
	font-weight : 100 !important;
}
.wsc .font-weight-200
{
	font-weight : 200 !important;
}
.wsc .font-weight-300
{
	font-weight : 300 !important;
}
.wsc .font-weight-400, .wsc .font-weight-normal
{
	font-weight : 400 !important;
}
.wsc .font-weight-500
{
	font-weight : 500 !important;
}
.wsc .font-weight-600
{
	font-weight : 600 !important;
}
.wsc .font-weight-700, .wsc .font-weight-bold
{
	font-weight : 700 !important;
}
.wsc .font-weight-800
{
	font-weight : 800 !important;
}
.wsc .font-weight-900
{
	font-weight : 900 !important;
}
.wsc .font-weight-bolder
{
	font-weight : bolder !important;
}

/*
Margin utility classes.
*/
.wsc .margin
{
	margin : 15px !important;
}
.wsc .margin-sm
{
	margin : 10px !important;
}
.wsc .em-margin
{
	margin : 0.5em !important;
}
.wsc .no-margin
{
	margin : 0 !important;
}
.wsc .t-margin
{
	margin-top : 15px !important;
}
.wsc .t-margin-sm
{
	margin-top : 10px !important;
}
.wsc .em-t-margin
{
	margin-top : 0.5em !important;
}
.wsc .no-t-margin
{
	margin-top : 0 !important;
}
.wsc .r-margin
{
	margin-right : 15px !important;
}
.wsc .r-margin-sm
{
	margin-right : 10px !important;
}
.wsc .em-r-margin
{
	margin-right : 0.5em !important;
}
.wsc .no-r-margin
{
	margin-right : 0 !important;
}
.wsc .b-margin
{
	margin-bottom : 15px !important;
}
.wsc .b-margin-sm
{
	margin-bottom : 10px !important;
}
.wsc .em-b-margin
{
	margin-bottom : 0.5em !important;
}
.wsc .no-b-margin
{
	margin-bottom : 0 !important;
}
.wsc .l-margin
{
	margin-left : 15px !important;
}
.wsc .l-margin-sm
{
	margin-left : 10px !important;
}
.wsc .em-l-margin
{
	margin-left : 0.5em !important;
}
.wsc .no-l-margin
{
	margin-left : 0 !important;
}
.wsc .x-margin
{
	margin-left  : 15px !important;
	margin-right : 15px !important;
}
.wsc .x-margin-sm
{
	margin-left  : 10px !important;
	margin-right : 10px !important;
}
.wsc .em-x-margin
{
	margin-left  : 0.5em !important;
	margin-right : 0.5em !important;
}
.wsc .no-x-margin
{
	margin-left  : 0 !important;
	margin-right : 0 !important;
}
.wsc .y-margin, .wsc .y-margin-lis li
{
	margin-top    : 15px !important;
	margin-bottom : 15px !important;
}
.wsc .y-margin-sm, .wsc .y-margin-lis-sm li
{
	margin-top    : 10px !important;
	margin-bottom : 10px !important;
}
.wsc .em-y-margin, .wsc .em-y-margin-lis li
{
	margin-top    : 0.5em !important;
	margin-bottom : 0.5em !important;
}
.wsc .no-y-margin
{
	margin-top    : 0 !important;
	margin-bottom : 0 !important;
}

/*
Padding utility classes.
*/
.wsc .padding
{
	padding : 15px !important;
}
.wsc .padding-sm
{
	padding : 10px !important;
}
.wsc .em-padding
{
	padding : 0.5em !important;
}
.wsc .no-padding
{
	padding : 0 !important;
}
.wsc .t-padding
{
	padding-top : 15px !important;
}
.wsc .t-padding-sm
{
	padding-top : 10px !important;
}
.wsc .em-t-padding
{
	padding-top : 0.5em !important;
}
.wsc .no-t-padding
{
	padding-top : 0 !important;
}
.wsc .r-padding
{
	padding-right : 15px !important;
}
.wsc .r-padding-sm
{
	padding-right : 10px !important;
}
.wsc .em-r-padding
{
	padding-right : 0.5em !important;
}
.wsc .no-r-padding
{
	padding-right : 0 !important;
}
.wsc .b-padding
{
	padding-bottom : 15px !important;
}
.wsc .b-padding-sm
{
	padding-bottom : 10px !important;
}
.wsc .em-b-padding
{
	padding-bottom : 0.5em !important;
}
.wsc .no-b-padding
{
	padding-bottom : 0 !important;
}
.wsc .l-padding
{
	padding-left : 15px !important;
}
.wsc .l-padding-sm
{
	padding-left : 10px !important;
}
.wsc .em-l-padding
{
	padding-left : 0.5em !important;
}
.wsc .no-l-padding
{
	padding-left : 0 !important;
}
.wsc .x-padding
{
	padding-left  : 15px !important;
	padding-right : 15px !important;
}
.wsc .x-padding-sm
{
	padding-left  : 10px !important;
	padding-right : 10px !important;
}
.wsc .em-x-padding
{
	padding-left  : 0.5em !important;
	padding-right : 0.5em !important;
}
.wsc .no-x-padding
{
	padding-left  : 0 !important;
	padding-right : 0 !important;
}
.wsc .y-padding
{
	padding-top    : 15px !important;
	padding-bottom : 15px !important;
}
.wsc .y-padding-sm
{
	padding-top    : 10px !important;
	padding-bottom : 10px !important;
}
.wsc .em-y-padding
{
	padding-top    : 0.5em !important;
	padding-bottom : 0.5em !important;
}
.wsc .no-y-padding
{
	padding-top    : 0 !important;
	padding-bottom : 0 !important;
}