/**
 * WebSharks™ Core Resets
 *
 * Copyright: © 2012 (coded in the USA)
 * {@link http://www.websharks-inc.com WebSharks™}
 *
 * @author JasWSInc
 * @package WebSharks\Core
 * @since 120318
 *
 * @noinspection ALL
 *
 * @note CSS in this file has lower precedence than jQuery™ themes.
 *    Theme styles take precedence over everything here.
 */

.websharks-core.ui,
.websharks-core.ui *,
	/**/
.websharks-core.ui div,
.websharks-core.ui span,
	/**/
.websharks-core.ui hgroup,
.websharks-core.ui header,
.websharks-core.ui footer,
.websharks-core.ui section,
.websharks-core.ui article,
.websharks-core.ui summary,
.websharks-core.ui aside,
.websharks-core.ui details,
.websharks-core.ui nav,
	/**/
.websharks-core.ui h1,
.websharks-core.ui h2,
.websharks-core.ui h3,
.websharks-core.ui h4,
.websharks-core.ui h5,
.websharks-core.ui h6,
	/**/
.websharks-core.ui a,
.websharks-core.ui p,
.websharks-core.ui hr,
	/**/
.websharks-core.ui img,
.websharks-core.ui canvas,
	/**/
.websharks-core.ui u,
	/**/
.websharks-core.ui i,
.websharks-core.ui em,
	/**/
.websharks-core.ui b,
.websharks-core.ui strong,
	/**/
.websharks-core.ui s,
.websharks-core.ui del,
.websharks-core.ui strike,
	/**/
.websharks-core.ui tt,
.websharks-core.ui kbd,
.websharks-core.ui code,
.websharks-core.ui samp,
.websharks-core.ui var,
.websharks-core.ui pre,
	/**/
.websharks-core.ui dfn,
.websharks-core.ui bdi,
.websharks-core.ui bdo,
.websharks-core.ui ins,
.websharks-core.ui wbr,
.websharks-core.ui time,
.websharks-core.ui abbr,
.websharks-core.ui mark,
.websharks-core.ui acronym,
.websharks-core.ui address,
	/**/
.websharks-core.ui sub,
.websharks-core.ui sup,
	/**/
.websharks-core.ui big,
.websharks-core.ui small,
	/**/
.websharks-core.ui center,
	/**/
.websharks-core.ui q,
.websharks-core.ui cite,
.websharks-core.ui blockquote,
	/**/
.websharks-core.ui dl,
.websharks-core.ui dt,
.websharks-core.ui dd,
.websharks-core.ui ol,
.websharks-core.ui ul,
.websharks-core.ui li,
	/**/
.websharks-core.ui table,
.websharks-core.ui colgroup,
.websharks-core.ui col,
.websharks-core.ui caption,
.websharks-core.ui tbody,
.websharks-core.ui tfoot,
.websharks-core.ui thead,
.websharks-core.ui tr,
.websharks-core.ui th,
.websharks-core.ui td,
	/**/
.websharks-core.ui figure,
.websharks-core.ui figcaption,
	/**/
.websharks-core.ui embed,
.websharks-core.ui applet,
.websharks-core.ui object,
.websharks-core.ui iframe,
	/**/
.websharks-core.ui audio,
.websharks-core.ui video,
	/**/
.websharks-core.ui form,
.websharks-core.ui label,
.websharks-core.ui fieldset,
.websharks-core.ui legend,
	/**/
.websharks-core.ui button,
.websharks-core.ui command,
.websharks-core.ui input,
.websharks-core.ui textarea,
.websharks-core.ui select,
.websharks-core.ui output,
.websharks-core.ui datalist,
.websharks-core.ui keygen,
.websharks-core.ui progress,
.websharks-core.ui meter,
.websharks-core.ui menu
{
	margin          : 0;
	padding         : 0;
	outline         : 0;

	background      : none;
	opacity         : inherit;
	color           : inherit;
	font-size       : inherit;
	line-height     : inherit;
	font-family     : inherit;
	text-indent     : inherit;
	direction       : inherit;
	text-align      : inherit;
	text-justify    : inherit;
	text-shadow     : inherit;
	text-outline    : inherit;
	text-decoration : inherit;
	text-overflow   : inherit;
	text-transform  : inherit;
	font-variant    : inherit;
	text-wrap       : inherit;
	word-wrap       : inherit;
	word-break      : inherit;
	white-space     : inherit;
	word-spacing    : inherit;
	letter-spacing  : inherit;
	/*
	Inherit `auto` does not work in some places.
	cursor          : inherit;
	*/
	clip            : auto;
	float           : none;
	clear           : none;

	width           : auto;
	height          : auto;
	min-width       : 0;
	min-height      : 0;
	max-width       : none;
	max-height      : none;
	overflow        : visible;

	list-style      : none;

	border          : 0;
	border-spacing  : 0;
	border-collapse : collapse;
	table-layout    : auto;

	vertical-align  : baseline;

	z-index         : auto;
	top             : auto;
	right           : auto;
	bottom          : auto;
	left            : auto;
	position        : static;
}
.websharks-core.ui q:before,
.websharks-core.ui q:after,
.websharks-core.ui blockquote:before,
.websharks-core.ui blockquote:after
{
	content : none;
}
.websharks-core.ui img
{
	vertical-align : bottom;
	/* @see http://stackoverflow.com/questions/3128061/extra-padding-under-an-img-tag */
}
.websharks-core.ui
{
	margin              : 0;
	padding             : 0;
	outline             : 0;

	background          : none;
	opacity             : 1;
	color               : #000000;
	font-size           : 14px;
	line-height         : 1;
	font-family         : 'Open Sans', sans-serif;
	text-indent         : 0;
	direction           : ltr;
	text-align          : left;
	text-justify        : auto;
	text-shadow         : none;
	text-outline        : none;
	text-decoration     : none;
	text-overflow       : clip;
	text-transform      : none;
	font-variant        : normal;
	text-wrap           : normal;
	word-wrap           : normal;
	word-break          : normal;
	white-space         : normal;
	word-spacing        : normal;
	letter-spacing      : normal;

	cursor              : auto;

	clip                : auto;
	float               : none;
	clear               : none;

	width               : auto;
	height              : auto;
	min-width           : 0;
	min-height          : 0;
	max-width           : none;
	max-height          : none;
	overflow            : visible;

	list-style          : none;

	border              : 0;
	border-spacing      : 0;
	border-collapse     : collapse;
	table-layout        : auto;

	vertical-align      : baseline;

	z-index             : auto;
	top                 : auto;
	right               : auto;
	bottom              : auto;
	left                : auto;
	position            : static;

	/* Additional specs. */

	box-shadow          : none;
	appearance          : normal;
	visibility          : visible;
	backface-visibility : visible;
}