/**
 * WebSharks™ Core Resets
 *
 * Copyright: © 2012 (coded in the USA)
 * {@link http://www.websharks-inc.com WebSharks™}
 *
 * @author JasWSInc
 * @package WebSharks\Core
 * @since 120318
 *
 * @note CSS in this file has lower precedence than UI core/themes.
 */

/* Basics & Inheritance
<https://developer.mozilla.org/en-US/docs/Web/CSS/inherit> */
/* noinspection ALL */

.websharks-core.ui,
.websharks-core.ui *
{
	margin              : 0;
	padding             : 0;
	outline             : 0;

	background          : none;
	opacity             : inherit;
	color               : inherit;
	font-size           : inherit;
	line-height         : inherit;
	font-family         : inherit;
	text-indent         : inherit;
	direction           : inherit;
	text-align          : inherit;
	text-justify        : inherit;
	text-shadow         : inherit;
	text-outline        : inherit;
	text-decoration     : inherit;
	text-overflow       : inherit;
	text-transform      : inherit;
	font-variant        : inherit;
	text-wrap           : inherit;
	word-wrap           : inherit;
	word-break          : inherit;
	word-spacing        : inherit;
	white-space         : inherit;
	letter-spacing      : inherit;

	clip                : auto;
	float               : none;
	clear               : none;

	width               : auto;
	height              : auto;
	min-width           : 0;
	min-height          : 0;
	max-width           : none;
	max-height          : none;
	overflow            : visible;

	list-style          : none;

	border              : 0;
	border-spacing      : 0;
	box-sizing          : content-box;
	border-collapse     : collapse;
	table-layout        : auto;

	vertical-align      : baseline;

	z-index             : auto;
	top                 : auto;
	right               : auto;
	bottom              : auto;
	left                : auto;
	position            : static;

	box-shadow          : none;
	appearance          : normal;
	visibility          : visible;
	backface-visibility : visible;
}

/* Parent Styles from which to Inherit */

.websharks-core.ui
{
	cursor          : auto;

	opacity         : 1;
	color           : #000000;
	font-size       : 14px;
	line-height     : 1;
	font-family     : 'Open Sans', sans-serif;
	text-indent     : 0;
	direction       : ltr;
	text-align      : left;
	text-justify    : auto;
	text-shadow     : none;
	text-outline    : none;
	text-decoration : none;
	text-overflow   : clip;
	text-transform  : none;
	font-variant    : normal;
	text-wrap       : normal;
	word-wrap       : normal;
	word-break      : normal;
	white-space     : normal;
	word-spacing    : normal;
	letter-spacing  : normal;
}

/* Block & Inline Elements
<https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements> */

.websharks-core.ui address,
.websharks-core.ui article,
.websharks-core.ui aside,
.websharks-core.ui audio,
.websharks-core.ui blockquote,
.websharks-core.ui canvas,
.websharks-core.ui dd,
.websharks-core.ui div,
.websharks-core.ui dl,
.websharks-core.ui fieldset,
.websharks-core.ui figcaption,
.websharks-core.ui figure,
.websharks-core.ui footer,
.websharks-core.ui form,
.websharks-core.ui h1,
.websharks-core.ui h2,
.websharks-core.ui h3,
.websharks-core.ui h4,
.websharks-core.ui h5,
.websharks-core.ui h6,
.websharks-core.ui header,
.websharks-core.ui hgroup,
.websharks-core.ui hr,
.websharks-core.ui noscript,
.websharks-core.ui ol,
.websharks-core.ui output,
.websharks-core.ui p,
.websharks-core.ui pre,
.websharks-core.ui section,
.websharks-core.ui table,
.websharks-core.ui tfoot,
.websharks-core.ui ul,
.websharks-core.ui video
{
	display : block;
}
.websharks-core.ui b,
.websharks-core.ui big,
.websharks-core.ui i,
.websharks-core.ui small,
.websharks-core.ui tt,
.websharks-core.ui abbr,
.websharks-core.ui acronym,
.websharks-core.ui cite,
.websharks-core.ui code,
.websharks-core.ui dfn,
.websharks-core.ui em,
.websharks-core.ui kbd,
.websharks-core.ui strong,
.websharks-core.ui samp,
.websharks-core.ui var,
.websharks-core.ui a,
.websharks-core.ui bdo,
.websharks-core.ui br,
.websharks-core.ui img,
.websharks-core.ui map,
.websharks-core.ui object,
.websharks-core.ui q,
.websharks-core.ui script,
.websharks-core.ui span,
.websharks-core.ui sub,
.websharks-core.ui sup,
.websharks-core.ui button,
.websharks-core.ui input,
.websharks-core.ui label,
.websharks-core.ui select,
.websharks-core.ui textarea
{
	display : inline;
}

/* Preformatted Tags */

.websharks-core.ui pre,
.websharks-core.ui select
{
	white-space : pre;
}

/* Monospace Tags */

.websharks-core.ui tt, code
{
	font-family : monospace;
}

/* Quotes */

.websharks-core.ui q,
.websharks-core.ui blockquote
{
	quotes : none;
}
.websharks-core.ui q:before,
.websharks-core.ui q:after,
.websharks-core.ui blockquote:before,
.websharks-core.ui blockquote:after
{
	content : '';
	content : none;
}

/* Images */

.websharks-core.ui img
{
	vertical-align : bottom;
}