/**
 * Stand-Alone Styles
 *
 * Copyright: © 2012 (coded in the USA)
 * {@link http://www.websharks-inc.com WebSharks™}
 *
 * @author JasWSInc
 * @package WebSharks\Core
 * @since 120318
 */

.wsc-ui div.header.wrapper
{
	width      : 960px;
	text-align : center;
	margin     : 50px auto 10px auto;
}
.wsc-ui div.content.wrapper
{
	width  : 960px;
	margin : 0 auto 50px auto;
}
.wsc-ui div.content.container
{
	padding : 20px;
}